/* .box {
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    border-color: blueviolet;
    border-style: solid;
    padding: 10px;
    margin: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
    position: relative;
} */

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: inline-block;
    margin-right: 4px;
    box-sizing: border-box;
    border-radius: 5px;
}
