.cc--main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cc {
    width: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 350px;
    box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -webkit-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
    -moz-box-shadow: 5px 5px 5px 1px rgba(120,120,120,0.44);
}

.cc--image {
    width: 100%;
    padding: 10%;
    padding-bottom: 0;
}

.cc--name {
    margin-block: 13px;
    color: #333333;
}

.cc--info {
    padding: 10px;
}

.cc--favorite {
    width: 25px;
    cursor: pointer;
}

.cc--contact {
    font-size: 0.75rem;
    color: gray;
    margin-block: 7px;
}